@{
    ViewData["Title"] = "Home Page";
    Layout = null;
}
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title></title>
    <style>
        hr.solid {
            border-top: 3px solid #bbb;
        }
    </style>
    <link rel="stylesheet" href="~/css/jobapplication.css">


    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,400i,700&display=fallback">
    <!-- Font Awesome -->
    <link rel="stylesheet" href="~/plugins/fontawesome-free/css/all.min.css">
    <!-- daterange picker -->
    <link rel="stylesheet" href="~/plugins/daterangepicker/daterangepicker.css">
    <!-- iCheck for checkboxes and radio inputs -->
    <link rel="stylesheet" href="~/plugins/icheck-bootstrap/icheck-bootstrap.min.css">
    <!-- Bootstrap Color Picker -->
    <link rel="stylesheet" href="~/plugins/bootstrap-colorpicker/css/bootstrap-colorpicker.min.css">
    <!-- Tempusdominus Bootstrap 4 -->
    <link rel="stylesheet" href="~/plugins/tempusdominus-bootstrap-4/css/tempusdominus-bootstrap-4.min.css">
    <!-- Select2 -->
    <link rel="stylesheet" href="~/plugins/select2/css/select2.min.css">
    <link rel="stylesheet" href="~/plugins/select2-bootstrap4-theme/select2-bootstrap4.min.css">
    <!-- Bootstrap4 Duallistbox -->
    <link rel="stylesheet" href="~/plugins/bootstrap4-duallistbox/bootstrap-duallistbox.min.css">
    <!-- BS Stepper -->
    <link rel="stylesheet" href="~/plugins/bs-stepper/css/bs-stepper.min.css">
    <!-- dropzonejs -->
    <link rel="stylesheet" href="~/plugins/dropzone/min/dropzone.min.css">
    <!-- Theme style -->
    <link rel="stylesheet" href="~/css/adminlte.min.css">


    <link href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">

</head>
<body>
    <div class="container">
        <div class="stepwizard">
            <div class="stepwizard-row setup-panel">
                <div class="stepwizard-step col-xs-3">
                    <a href="#step-1" type="button" class="btn btn-success btn-circle">1</a>
                    <p><small>Basic Details</small></p>
                </div>
                <div class="stepwizard-step col-xs-2">
                    <a href="#step-2" type="button" class="btn btn-default btn-circle" disabled="disabled">2</a>
                    <p><small>Education Details</small></p>
                </div>
                <div class="stepwizard-step col-xs-2">
                    <a href="#step-3" type="button" class="btn btn-default btn-circle" disabled="disabled">3</a>
                    <p><small>Work Experiance</small></p>
                </div>
                <div class="stepwizard-step col-xs-2">
                    <a href="#step-4" type="button" class="btn btn-default btn-circle" disabled="disabled">4</a>
                    <p><small>Language and Technology</small></p>
                </div>
                <div class="stepwizard-step col-xs-3">
                    <a href="#step-5" type="button" class="btn btn-default btn-circle" disabled="disabled">4</a>
                    <p><small>Refrel and Prefrences</small></p>
                </div>
            </div>
        </div>

        <form role="form">
            <div class="panel panel-primary setup-content" id="step-1">
                <div class="panel-heading">
                    <h3 class="panel-title">Basic Details</h3>
                </div>
                <div class="panel-body">

                    <div class="form-row">
                        <div class="form-group col-md-4">
                            <label for="inputEmail4">First Name</label>
                            <input type="text" class="form-control" id="inputEmail4" placeholder="Enter First Name" required>
                        </div>
                        <div class="form-group col-md-4">
                            <label for="inputPassword4">Last Name</label>
                            <input type="text" class="form-control" id="inputPassword4" placeholder="Enter Last Name" required>
                        </div>
                        <div class="form-group col-md-4">
                            <label for="inputPassword4">Designation</label>
                            <input type="text" class="form-control" id="inputPassword4" placeholder="Enter Designation" required>
                        </div>
                    </div>
                    <div class="form-row">
                        <div class="form-group col-md-4">
                            <label for="inputEmail4">Gender</label>

                            <select id="inputState" class="form-control">
                                <option selected>Choose...</option>
                                <option value="Male">Male</option>
                                <option value="Female">Female</option>

                            </select>
                        </div>
                        <div class="form-group col-md-4">
                            <label for="inputPassword4">Relationship status</label>
                            <select id="inputState" class="form-control">
                                <option selected>Choose...</option>
                                <option value="Male">Married</option>
                                <option value="Female">Single</option>

                            </select>
                        </div>
                        <div class="form-group col-md-4">
                            <label for="inputPassword4">Birth date</label>
                            <div class="input-group date" id="reservationdate" data-target-input="nearest">

                                <input type="text" class="form-control datetimepicker-input" data-target="#reservationdate" required />
                                <div class="input-group-append" data-target="#reservationdate" data-toggle="datetimepicker">
                                    <div class="input-group-text"><i class="fa fa-calendar"></i></div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="form-row">
                        <div class="form-group col-md-6">
                            <label for="inputEmail4">Email</label>
                            <input type="text" required class="form-control" id="inputEmail4" placeholder="Enter Email">
                        </div>
                        <div class="form-group col-md-6">
                            <label for="inputPassword4">Phonenumber</label>
                            <input type="text" maxlength="10" pattern=".{10}" class="form-control" id="validationCustom08" placeholder="Mobile" required>
                        </div>

                    </div>
                    <div class="form-row">
                        <div class="form-group col-md-6">
                            <label for="inputEmail4">Address 1</label>
                            <input type="text" class="form-control" id="inputEmail4" placeholder="Enter Address line 1" required>
                        </div>
                        <div class="form-group col-md-6">
                            <label for="inputPassword4">Address 2</label>
                            <input type="text" class="form-control" id="inputPassword4" placeholder="Enter Address line 2">
                        </div>

                    </div>
                    <div class="form-row">
                        <div class="form-group col-md-4">
                            <label for="inputCity">City</label>
                            <input type="text" class="form-control" id="inputCity" required>
                        </div>
                        <div class="form-group col-md-4">
                            <label for="inputState">State</label>
                            <select id="inputState" class="form-control" required>
                                <option selected>Choose...</option>
                                <option value="Andhra Pradesh">Andhra Pradesh</option>
                                <option value="Andaman and Nicobar Islands">Andaman and Nicobar Islands</option>
                                <option value="Arunachal Pradesh">Arunachal Pradesh</option>
                                <option value="Assam">Assam</option>
                                <option value="Bihar">Bihar</option>
                                <option value="Chandigarh">Chandigarh</option>
                                <option value="Chhattisgarh">Chhattisgarh</option>
                                <option value="Dadar and Nagar Haveli">Dadar and Nagar Haveli</option>
                                <option value="Daman and Diu">Daman and Diu</option>
                                <option value="Delhi">Delhi</option>
                                <option value="Lakshadweep">Lakshadweep</option>
                                <option value="Puducherry">Puducherry</option>
                                <option value="Goa">Goa</option>
                                <option value="Gujarat">Gujarat</option>
                                <option value="Haryana">Haryana</option>
                                <option value="Himachal Pradesh">Himachal Pradesh</option>
                                <option value="Jammu and Kashmir">Jammu and Kashmir</option>
                                <option value="Jharkhand">Jharkhand</option>
                                <option value="Karnataka">Karnataka</option>
                                <option value="Kerala">Kerala</option>
                                <option value="Madhya Pradesh">Madhya Pradesh</option>
                                <option value="Maharashtra">Maharashtra</option>
                                <option value="Manipur">Manipur</option>
                                <option value="Meghalaya">Meghalaya</option>
                                <option value="Mizoram">Mizoram</option>
                                <option value="Nagaland">Nagaland</option>
                                <option value="Odisha">Odisha</option>
                                <option value="Punjab">Punjab</option>
                                <option value="Rajasthan">Rajasthan</option>
                                <option value="Sikkim">Sikkim</option>
                                <option value="Tamil Nadu">Tamil Nadu</option>
                                <option value="Telangana">Telangana</option>
                                <option value="Tripura">Tripura</option>
                                <option value="Uttar Pradesh">Uttar Pradesh</option>
                                <option value="Uttarakhand">Uttarakhand</option>
                                <option value="West Bengal">West Bengal</option>
                            </select>
                        </div>
                        <div class="form-group col-md-4">
                            <label for="inputZip">Zip</label>
                            <input type="text" class="form-control" id="inputZip" required>
                        </div>
                    </div>

                    <br />
                    <button class="btn btn-primary nextBtn pull-right" type="button">Next</button>
                </div>
            </div>

            <div class="panel panel-primary setup-content" id="step-2">
                <div class="panel-heading">
                    <h3 class="panel-title">Education Details</h3>
                </div>
                <div class="panel-body">
                    <h3 class="panel-title"><b>SSC result</b></h3>
                    <br />
                    <div class="form-row">

                        <div class="form-group col-md-4">
                            <label for="inputEmail4">Name Of Board</label>
                            <input type="email" class="form-control" id="inputEmail4" placeholder="Enter Board name" required>
                        </div>
                        <div class="form-group col-md-4">
                            <label for="inputPassword4">Passing Year</label>
                            <input type="text" class="form-control" pattern="\d*" maxlength="4" placeholder="Enter passing year" required>
                        </div>
                        <div class="form-group col-md-4">
                            <label for="inputPassword4">Percentage</label>
                            <input type="text" class="form-control" pattern="\d*" maxlength="5" placeholder="Enter passing year" required>
                        </div>

                    </div>
                    <hr class="solid">
                    <h3 class="panel-title"><b>HSC result</b></h3>
                    <br />
                    <div class="form-row">

                        <div class="form-group col-md-4">
                            <label for="inputEmail4">Name Of Board</label>
                            <input type="email" class="form-control" id="inputEmail4" placeholder="Enter Board name" required>
                        </div>
                        <div class="form-group col-md-4">
                            <label for="inputPassword4">Passing Year</label>
                            <input type="text" class="form-control" pattern="\d*" maxlength="4" placeholder="Enter passing year" required>
                        </div>
                        <div class="form-group col-md-4">
                            <label for="inputPassword4">Percentage</label>
                            <input type="text" class="form-control" pattern="\d*" maxlength="5" placeholder="Enter passing year" required>
                        </div>

                    </div>
                    <hr class="solid">
                    <h3 class="panel-title"><b>Bacheolr Degree</b></h3>
                    <br />
                    <div class="form-row">

                        <div class="form-group col-md-3">
                            <label for="inputEmail4">Cource Name</label>
                            <input type="email" class="form-control" id="inputEmail4" placeholder="Enter cource name" required>
                        </div>
                        <div class="form-group col-md-3">
                            <label for="inputPassword4">University</label>
                            <input type="text" class="form-control" pattern="\d*" maxlength="4" placeholder="Enter University" required>
                        </div>
                        <div class="form-group col-md-3">
                            <label for="inputPassword4">Passing year</label>
                            <input type="text" class="form-control" pattern="\d*" maxlength="5" placeholder="Enter passing year" required>
                        </div>
                        <div class="form-group col-md-3">
                            <label for="inputPassword4">Percentage</label>
                            <input type="text" class="form-control" pattern="\d*" maxlength="5" placeholder="Enter percentage" required>
                        </div>

                    </div>
                    <hr class="solid">
                    <h3 class="panel-title"><b>Master degree</b></h3>
                    <br />
                    <div class="form-row">

                        <div class="form-group col-md-3">
                            <label for="inputEmail4">Cource Name</label>
                            <input type="email" class="form-control" id="inputEmail4" placeholder="Enter cource name" required>
                        </div>
                        <div class="form-group col-md-3">
                            <label for="inputPassword4">University</label>
                            <input type="text" class="form-control" placeholder="Enter University" required>
                        </div>
                        <div class="form-group col-md-3">
                            <label for="inputPassword4">Passing year</label>
                            <input type="text" class="form-control" pattern="\d*" maxlength="5" placeholder="Enter passing year" required>
                        </div>
                        <div class="form-group col-md-3">
                            <label for="inputPassword4">Percentage</label>
                            <input type="text" class="form-control" pattern="\d*" maxlength="5" placeholder="Enter percentage" required>
                        </div>

                    </div>

                    <button class="btn btn-primary nextBtn pull-right" type="button">Next</button>
                </div>
            </div>

            <div class="panel panel-primary setup-content" id="step-3">
                <div class="panel-heading">
                    <h3 class="panel-title">Work Experiance</h3>
                </div>
                <div class="panel-body">

                    <div class="form-row clonediv">

                        <div class="form-group col-md-3">
                            <label for="inputEmail4">Company name</label>
                            <input type="email" class="form-control" id="inputEmail4" placeholder="Enter cource name" required>
                        </div>
                        <div class="form-group col-md-3">
                            <label for="inputPassword4">Designation</label>
                            <input type="text" class="form-control" placeholder="Enter University" required>
                        </div>
                        <div class="form-group col-md-3">
                            <label for="inputPassword4">Start date</label>
                            <div class="input-group date" id="reservationdate" data-target-input="nearest">

                                <input type="text" class="form-control datetimepicker-input" data-target="#reservationdate" required />
                                <div class="input-group-append" data-target="#reservationdate" data-toggle="datetimepicker">
                                    <div class="input-group-text"><i class="fa fa-calendar"></i></div>
                                </div>
                            </div>
                        </div>
                        <div class="form-group col-md-3">
                            <label for="inputPassword4">end date</label>
                            <div class="input-group date" id="reservationdate" data-target-input="nearest">

                                <input type="text" class="form-control datetimepicker-input" data-target="#reservationdate" required />
                                <div class="input-group-append" data-target="#reservationdate" data-toggle="datetimepicker">
                                    <div class="input-group-text"><i class="fa fa-calendar"></i></div>
                                </div>
                            </div>
                        </div>

                    </div>
                    <button class="btn btn-primary nextBtn" id="but_add" type="button">Add new</button>
                    <button class="btn btn-primary nextBtn pull-right" type="button">Next</button>
                </div>
            </div>

            <div class="panel panel-primary setup-content" id="step-4">
                <div class="panel-heading">
                    <h3 class="panel-title">Language and Technology</h3>
                </div>
                <div class="panel-body">
                    <div class="form-row">
                        <div class="form-check form-check-inline">
                            <input type="checkbox" name="languagehindi" id="hindi" value="1" tabIndex="1" onClick="ckChange(this)">
                            <label class="form-check-label" for="inlineCheckbox1">Hindi</label>
                        </div>
                        <div class="form-check form-check-inline">
                           <input type="checkbox" name="languagehindi" id="hindi" value="1" tabIndex="1" onClick="ckChange(this)" disabled>
                            <label class="form-check-label" for="inlineCheckbox1">read</label>
                        </div>
                        <div class="form-check form-check-inline">
                           <input type="checkbox" name="languagehindi" id="hindi" value="1" tabIndex="1" onClick="ckChange(this)" disabled>
                            <label class="form-check-label" for="inlineCheckbox2">write</label>
                        </div>
                        <div class="form-check form-check-inline">
                            <input type="checkbox" name="languagehindi" id="hindi" value="1" tabIndex="1" onClick="ckChange(this)" disabled>
                            <label class="form-check-label" for="inlineCheckbox3">speak</label>
                        </div>

                    </div>
                    <div class="form-row">
                        <div class="form-check form-check-inline">
                            <input type="checkbox" name="languageeng" id="hindi" value="1" tabIndex="1" onClick="ckChange(this)">
                            <label class="form-check-label" for="inlineCheckbox1">English</label>
                        </div>
                        <div class="form-check form-check-inline">
                           <input type="checkbox" name="languageeng" id="hindi" value="1" tabIndex="1" onClick="ckChange(this)" disabled>
                            <label class="form-check-label" for="inlineCheckbox1">read</label>
                        </div>
                        <div class="form-check form-check-inline">
                           <input type="checkbox" name="languageeng" id="hindi" value="1" tabIndex="1" onClick="ckChange(this)" disabled>
                            <label class="form-check-label" for="inlineCheckbox2">write</label>
                        </div>
                        <div class="form-check form-check-inline">
                            <input type="checkbox" name="languageeng" id="hindi" value="1" tabIndex="1" onClick="ckChange(this)" disabled>
                            <label class="form-check-label" for="inlineCheckbox3">speak</label>
                        </div>

                    </div>
                    <div class="form-row">
                        <div class="form-check form-check-inline">
                            <input type="checkbox" name="languageguj" id="hindi" value="1" tabIndex="1" onClick="ckChange(this)">
                            <label class="form-check-label" for="inlineCheckbox1">Gujarati</label>
                        </div>
                        <div class="form-check form-check-inline">
                           <input type="checkbox" name="languageguj" id="hindi" value="1" tabIndex="1" onClick="ckChange(this)" disabled>
                            <label class="form-check-label" for="inlineCheckbox1">read</label>
                        </div>
                        <div class="form-check form-check-inline">
                           <input type="checkbox" name="languageguj" id="hindi" value="1" tabIndex="1" onClick="ckChange(this)" disabled>
                            <label class="form-check-label" for="inlineCheckbox2">write</label>
                        </div>
                        <div class="form-check form-check-inline">
                            <input type="checkbox" name="languageguj" id="hindi" value="1" tabIndex="1" onClick="ckChange(this)" disabled>
                            <label class="form-check-label" for="inlineCheckbox3">speak</label>
                        </div>

                    </div>
                    <button class="btn btn-success pull-right" type="button">Next</button>
                </div>
            </div>
            <div class="panel panel-primary setup-content" id="step-4">
                <div class="panel-heading">
                    <h3 class="panel-title">Cargo</h3>
                </div>
                <div class="panel-body">
                    <div class="form-group">
                        <label class="control-label">Company Name</label>
                        <input maxlength="200" type="text" required="required" class="form-control" placeholder="Enter Company Name" />
                    </div>
                    <div class="form-group">
                        <label class="control-label">Company Address</label>
                        <input maxlength="200" type="text" required="required" class="form-control" placeholder="Enter Company Address" />
                    </div>
                    <button class="btn btn-success pull-right" type="submit">Finish!</button>
                </div>
            </div>
        </form>
    </div>

    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="~/js/jobapplication.js"></script>



    <!-- Bootstrap 4 -->
    <script src="~/plugins/bootstrap/js/bootstrap.bundle.min.js"></script>
    <!-- Select2 -->
    <script src="~/plugins/select2/js/select2.full.min.js"></script>
    <!-- Bootstrap4 Duallistbox -->
    <script src="~/plugins/bootstrap4-duallistbox/jquery.bootstrap-duallistbox.min.js"></script>
    <!-- InputMask -->
    <script src="~/plugins/moment/moment.min.js"></script>
    <script src="~/plugins/inputmask/jquery.inputmask.min.js"></script>
    <!-- date-range-picker -->
    <script src="~/plugins/daterangepicker/daterangepicker.js"></script>
    <!-- bootstrap color picker -->
    <script src="~/plugins/bootstrap-colorpicker/js/bootstrap-colorpicker.min.js"></script>
    <!-- Tempusdominus Bootstrap 4 -->
    <script src="~/plugins/tempusdominus-bootstrap-4/js/tempusdominus-bootstrap-4.min.js"></script>
    <!-- Bootstrap Switch -->
    <script src="~/plugins/bootstrap-switch/js/bootstrap-switch.min.js"></script>
    <!-- BS-Stepper -->
    <script src="~/plugins/bs-stepper/js/bs-stepper.min.js"></script>
    <!-- dropzonejs -->
    <script src="~/plugins/dropzone/min/dropzone.min.js"></script>
    <!-- AdminLTE App -->
    <script src="~/js/adminlte.min.js"></script>
    <!-- AdminLTE for demo purposes -->
    <script src="~/js/demo.js"></script>
    <script>

        $(function () {
            //Initialize Select2 Elements
            $('.select2').select2()

            //Initialize Select2 Elements
            $('.select2bs4').select2({
                theme: 'bootstrap4'
            })

            //Datemask dd/mm/yyyy
            $('#datemask').inputmask('dd/mm/yyyy', { 'placeholder': 'dd/mm/yyyy' })
            //Datemask2 mm/dd/yyyy
            $('#datemask2').inputmask('mm/dd/yyyy', { 'placeholder': 'mm/dd/yyyy' })
            //Money Euro
            $('[data-mask]').inputmask()

            //Date picker
            $('#reservationdate').datetimepicker({
                format: 'L'
            });

            //Date and time picker
            $('#reservationdatetime').datetimepicker({ icons: { time: 'far fa-clock' } });

            //Date range picker
            $('#reservation').daterangepicker()
            //Date range picker with time picker
            $('#reservationtime').daterangepicker({
                timePicker: true,
                timePickerIncrement: 30,
                locale: {
                    format: 'MM/DD/YYYY hh:mm A'
                }
            })
            //Date range as a button
            $('#daterange-btn').daterangepicker(
                {
                    ranges: {
                        'Today': [moment(), moment()],
                        'Yesterday': [moment().subtract(1, 'days'), moment().subtract(1, 'days')],
                        'Last 7 Days': [moment().subtract(6, 'days'), moment()],
                        'Last 30 Days': [moment().subtract(29, 'days'), moment()],
                        'This Month': [moment().startOf('month'), moment().endOf('month')],
                        'Last Month': [moment().subtract(1, 'month').startOf('month'), moment().subtract(1, 'month').endOf('month')]
                    },
                    startDate: moment().subtract(29, 'days'),
                    endDate: moment()
                },
                function (start, end) {
                    $('#reportrange span').html(start.format('MMMM D, YYYY') + ' - ' + end.format('MMMM D, YYYY'))
                }
            )

            //Timepicker
            $('#timepicker').datetimepicker({
                format: 'LT'
            })

            //Bootstrap Duallistbox
            $('.duallistbox').bootstrapDualListbox()

            //Colorpicker
            $('.my-colorpicker1').colorpicker()
            //color picker with addon
            $('.my-colorpicker2').colorpicker()

            $('.my-colorpicker2').on('colorpickerChange', function (event) {
                $('.my-colorpicker2 .fa-square').css('color', event.color.toString());
            })

            $("input[data-bootstrap-switch]").each(function () {
                $(this).bootstrapSwitch('state', $(this).prop('checked'));
            })

        })
        // BS-Stepper Init
        document.addEventListener('DOMContentLoaded', function () {
            window.stepper = new Stepper(document.querySelector('.bs-stepper'))
        })

        // DropzoneJS Demo Code Start
        Dropzone.autoDiscover = false

        // Get the template HTML and remove it from the doumenthe template HTML and remove it from the doument
        var previewNode = document.querySelector("#template")
        previewNode.id = ""
        var previewTemplate = previewNode.parentNode.innerHTML
        previewNode.parentNode.removeChild(previewNode)

        var myDropzone = new Dropzone(document.body, { // Make the whole body a dropzone
            url: "/target-url", // Set the url
            thumbnailWidth: 80,
            thumbnailHeight: 80,
            parallelUploads: 20,
            previewTemplate: previewTemplate,
            autoQueue: false, // Make sure the files aren't queued until manually added
            previewsContainer: "#previews", // Define the container to display the previews
            clickable: ".fileinput-button" // Define the element that should be used as click trigger to select files.
        })

        myDropzone.on("addedfile", function (file) {
            // Hookup the start button
            file.previewElement.querySelector(".start").onclick = function () { myDropzone.enqueueFile(file) }
        })

        // Update the total progress bar
        myDropzone.on("totaluploadprogress", function (progress) {
            document.querySelector("#total-progress .progress-bar").style.width = progress + "%"
        })

        myDropzone.on("sending", function (file) {
            // Show the total progress bar when upload starts
            document.querySelector("#total-progress").style.opacity = "1"
            // And disable the start button
            file.previewElement.querySelector(".start").setAttribute("disabled", "disabled")
        })

        // Hide the total progress bar when nothing's uploading anymore
        myDropzone.on("queuecomplete", function (progress) {
            document.querySelector("#total-progress").style.opacity = "0"
        })

        // Setup the buttons for all transfers
        // The "add files" button doesn't need to be setup because the config
        // `clickable` has already been specified.
        document.querySelector("#actions .start").onclick = function () {
            myDropzone.enqueueFiles(myDropzone.getFilesWithStatus(Dropzone.ADDED))
        }
        document.querySelector("#actions .cancel").onclick = function () {
            myDropzone.removeAllFiles(true)
        }
          // DropzoneJS Demo Code End
    </script>
    <script>
                $(document).ready(function(){

         $('#but_add').click(function(){

          // Create clone of <div class='input-form'>
          var newel = $('.clonediv:last').clone();

          // Add after last <div class='input-form'>
          $(newel).insertAfter(".clonediv:last");
         });

         $('.txt').focus(function(){
          $(this).css('border-color','red');
         });

         $('.txt').focusout(function(){
          $(this).css('border-color','initial');
         });

        });
    </script>
    <script>
        function ckChange(el) {
  var ckName = document.getElementsByName(el.name);
  for (var i = 0, c; c = ckName[i]; i++) {
   c.enabled = !(!el.checked || c === el);
  }
}
    </script>
</body>

</html>

